@model ABCPay.Models.ViewModels.RequestPaymentViewModel
@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Request Payments</h2>
    </div>
</div>

<br />
<div class="row">
    <div class="col-12 text-right">
        <label>User: </label>  @user.FirstName, @user.LastName<br />
        <label>Balance: </label> @user.Balance
    </div>
</div>
<br />

<div class="row">
    <div class="col-12 text-right">
        <a asp-action="New" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp;New Request Payment</a>
        <a asp-action="Import" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp;Batch Request Payment</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped" id="paymentRecords">
        <thead>
            <tr class="table-info">
                <th>@Html.DisplayNameFor(p => p.PaymentSs.FirstOrDefault().Date)</th>
                <th>@Html.DisplayNameFor(p => p.PaymentSs.FirstOrDefault().ReferenceNumber)</th>
                <th>@Html.DisplayNameFor(p => p.PaymentSs.FirstOrDefault().MerchantName)</th>
                <th>@Html.DisplayNameFor(p => p.PaymentSs.FirstOrDefault().AccountNumber)</th>
                <th>@Html.DisplayNameFor(p => p.PaymentSs.FirstOrDefault().AccountName)</th>
                <th>@Html.DisplayNameFor(p => p.PaymentSs.FirstOrDefault().OtherDetails)</th>
                <th>@Html.DisplayNameFor(p => p.PaymentSs.FirstOrDefault().Amount)</th>
                <th>@Html.DisplayNameFor(p => p.PaymentSs.FirstOrDefault().StatusName)</th>
                <th>@Html.DisplayNameFor(p => p.PaymentSs.FirstOrDefault().ServiceFee)</th>
                <th>@Html.DisplayNameFor(p => p.PaymentSs.FirstOrDefault().PPRemarks)</th>
                <th>Attachment</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PaymentSs)
            {
            <tr>
                <td>@Html.DisplayFor(p => item.Date)</td>
                <td><a class="btn btn-link" asp-action="Edit" asp-route-id="@item.ReferenceNumber">@Html.DisplayFor(p => item.ReferenceNumber)</a></td>
                <td>@Html.DisplayFor(p => item.MerchantName)</td>
                <td>@Html.DisplayFor(p => item.AccountNumber)</td>
                <td>@Html.DisplayFor(p => item.AccountName)</td>
                <td>@Html.DisplayFor(p => item.OtherDetails)</td>
                <td>@Html.DisplayFor(p => item.Amount)</td>

                @switch (item.StatusName)
                {
                    case "Pending":
                        <td>@Html.DisplayFor(p => item.StatusName)</td>
                        break;
                    case "Processing":
                        <td class="btn-outline-warning">@Html.DisplayFor(p => item.StatusName)</td>
                        break;
                    case "Done":
                        <td class="btn-outline-success">@Html.DisplayFor(p => item.StatusName)</td>
                        break;
                    case "Failed":
                        <td class="btn-outline-danger">@Html.DisplayFor(p => item.StatusName)</td>
                        break;
                    default:
                        <td>@Html.DisplayFor(p => item.StatusName)</td>
                        break;
                }



                <td>@Html.DisplayFor(p => item.ServiceFee)</td>
                <td>@Html.DisplayFor(p => item.PPRemarks)</td>
                <td><a asp-action="DownloadFile" asp-route-filename="@item.Attachment" name="filename">@Html.DisplayFor(p => item.Attachment)</a></td>
                <td>
                    @if (item.StatusName == "Processing")
                    {
                        <button disabled class="btn btn-danger"
                                onclick="return confirm('Are you sure you want to delete this payment with ref #: @item.ReferenceNumber')">
                            <i class="fas fa-trash"></i>
                        </button>
                    }
                    else
                    {
                        <form method="post" asp-action="DeletePayment" asp-route-id="@item.ReferenceNumber">
                            <button type="submit" class="btn btn-danger"
                                    onclick="return confirm('Are you sure you want to delete this payment with ref #: @item.ReferenceNumber')">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    }

                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div page-model="@Model.PagingInfo" page-action="Index" page-class-enabled="true"
     page-class="btn border" page-class-normal="btn btn-default active"
     page-class-selected="btn btn-primary active" class="btn-group m-1"></div>



@section Scripts
                {
    <script src="~/js/site.js"></script>
                    }